@font-face {
    font-family: Bello-Script;
    src: url(fonts/Bello-Script/bello-script.ttf);
}

@font-face {
    font-family: ProximaNova;
    src: url(fonts/Proxima-Nova/proxima-nova-regular.woff);
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #4f88ef;
    height: 100vh;
    width: 100vw;
}

.header--collapsed {
    height: 50px;
}

.header__button {
    background: rgba(0, 0, 0, 0);
    border: none;
    height: 20px;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
}

.header__button--invisible {
    display: none;
}

.header__title {
    color: #ffffff;
    font-family: Bello-Script;
    font-size: 26px;
    margin: 0;
    padding: 12px 0 70px 0;
    text-align: center;
}

.header__menu {
    align-content: flex-start;
    align-items: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: ProximaNova;
    font-size: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__menu--collapsed {
    display: none;
}

.header__li {
    margin: 43px 0 0 0; 
    padding: 5px 10px;
}

.header__li:first-child {
    margin: 0;
}

.header__li--active {
    background-color: #1166a5;
    border-radius: 4px;
}

.header__account {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .header {
        display: flex;
        height: 70px;
        justify-content: space-between;
        align-items: center;
    }

    .header__title {
        display: none;
    }

    .header__nav {
        height: 70px;
    }

    .header__menu {
        flex-direction: row;
        font-size: 14px;
        height: 70px;
    }

    .header__li {
        margin: 0 0 0 14px;
        padding: 7px 18px;
    }

    .header__li:hover {
        cursor: pointer;
    }

    .header__li:first-child {
        margin: 0 0 0 12px;
    }

    .header__button {
        display: none;
    }

    .header__account {
        align-items: center;
        background-color: #ffffff;
        border-radius: 18px;
        display: flex;
        height: 36px;
        justify-content: space-between;
        width: 135px;
        
    }

    .header__account-wrapper {
        display: flex;
        align-items: center;
        margin: 0 30px 0 0;
    }

    .header__account-wrapper:hover {
        cursor: pointer;
    }

    .account__logo {
        height: 10px;
        width: 75px;
        margin: 0 0 0 12px;
    }

    .account__avatar {
        border-radius: 16px;
        height: 32px;
        width: 32px;
        margin: 0 2px 0 0;
    }

    .header__arrow {
        border-radius: 0.5px;
        margin: 0 0 0 10px;
    }
}
