on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: Install modules
        run: npm ci
      - name: Run Jest tests
        run: npx --yes jest
      - name: Run Cypress tests
        run: npm run cypress
